<footer class=" py-4 px-3 mb-[100px]">
    <div class="grid grid-cols-4 gap-24 ml-12">
        <div class="space-y-3">
            <p class="font-bold">HỆ THỐNG CỬA HÀNG TTL</p>
            <p class="text-[12px]">TTL TRAN TIEN LUONG STORE: PHU MINH STREET, MINH KHAI DISTRICT, HA NOI.</p>
            <p class="text-[12px]">Store 1:TRIEU KHUC, THANH XUAN, HA NOI</p>
            <p class="text-[12px]">Store 2:ME TRI, NAM TU LIEM, HA NOI</p>
            <p class="text-[12px]">Store 3:MO LAO, HA DONG, HA NOI</p>
        </div>
        <div class="space-y-3">
            <p class="font-bold">CHÍNH SÁCH</p>
            <p class="text-[12px]">Chính sách sử dụng website</p>
            <p class="text-[12px]">Phương thức thanh toán</p>
            <p class="text-[12px]">Chính sách giao nhận - vận chuyển</p>
            <p class="text-[12px]">Chính sách đổi trả</p>

        </div>
        <div class="space-y-3">
            <p class="font-bold">THÔNG TIN LIÊN HỆ</p>
            <p class="text-[12px]">CÔNG TY TTL Địa chỉ: 147 Bùi Đình Tuý</p>
            <p class="text-[12px]">SỐ CSKH: 0398764221 (10h -18h)</p>
            <p class="text-[12px]">Tuyển dụng: hr@TTL.vn</p>
            <p class="text-[12px]">For business: contact@TTL.vn</p>
        </div>
        <div class="space-y-3">
            <p class="font-bold">FOLLOW ON SOCIAL MEDIA</p>
            <div class="flex space-x-4 my-3">
            <img class="bg-white w-[50px]" src="https://cdn-icons-png.flaticon.com/128/739/739237.png" alt="" />
            <img class="bg-white w-[50px]" src="https://cdn-icons-png.flaticon.com/512/717/717392.png" alt="" />
            </div>
            <img class="w-[150px]" src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" alt="" />
        </div>
    </div>
    <div class="phutter">
        <marquee direction="left" class="text-[10px] my-4 py-3 -ml-3 text-white font-bold text bg-black">
           <div class="flex justify-between">
            <div>
                <span class="message-text-title">SALE UPTO 50%</span>
                <span class="message-text-sub">HADES™ 2023</span>
            </div>
            <div>
                <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
                <span class="message-text-sub">HADES™ 2023</span>
            </div>
            <div>
                <span class="message-text-title">SALE UPTO 50%</span>
                <span class="message-text-sub">HADES™ 2023</span>
            </div>
            <div>
                <span class="message-text-title">GET TO KNOW ABOUT OUR VIBE</span>
                <span class="message-text-sub">HADES™ 2023</span>
            </div>
           </div>
        </marquee>
    </div>
    
</footer>
