<div class="container">
    <div class="brand-logo">
        <img class="w-[300px]" src="https://theme.hstatic.net/1000306633/1000891824/14/logo.png?v=510" alt="">
    </div>
    <div class="brand-title">Thêm Sản Phẩm</div>
    <div class="inputs">
      <form action="" (ngSubmit)="onsubmit()">
        <label>Name</label>
      <input type="text" placeholder="name" id="name" name="name" [(ngModel)]="products.name"/>
      <label>Price</label>
      <input type="text" placeholder="Price" id="price" name="price" [(ngModel)]="products.price" />
      <label>cost</label>
      <input type="text" placeholder="cost" id="cost" name="cost" [(ngModel)]="products.cost"/>
      <label>image</label>
      <input type="text" placeholder="image" id="image" name="image" [(ngModel)]="products.image"/>
      <button type="submit">ADD</button>
      </form>
    </div>
    
  </div>