<p class="font-bold text-center my-5 text-[25px]">RECRUITMENT</p>
<div class="grid grid-cols-4 gap-8 my-5 mx-5">
    <div   >
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_1.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_2.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_1.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_3.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_5.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_6.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_7.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_8.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_9.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_10.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_11.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
    <div>
        <img class="scale-100 hover:scale-105 ease-in duration-500" src="https://theme.hstatic.net/1000306633/1000891824/14/careers_12.png?v=506" alt="">
        <p class="font-bold my-2">MEDIA CREATIVE</p>
        <p class="text-[12px]">MARKETING TEAM</p>
    </div>
</div>
<marquee
class="mt-3 py-5 font-bold text-[50px]"
direction="right"
behavior="Alternate"
>
STREETWEAR BRAND LIMITED
</marquee> 